<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.flow.extension_check.mapper.AttacheFileMapper"
>
    <sql id="search_sql">
        <where>
            <if test="originalFilename != null and originalFilename != ''">
                original_filename = #{originalFilename}
            </if>
        </where>
    </sql>
    <insert
        id="insert"
        parameterType="com.flow.extension_check.dto.AttacheFile"
    >
        INSERT INTO attache_files (
            original_filename,
            stored_filename
        ) VALUES (
            #{originalFilename},
            #{storedFilename}
        )
    </insert>
    <select
        id="list"
        resultType="com.flow.extension_check.dto.AttacheFile"
    >
        SELECT
        id,
        original_filename,
        stored_filename,
        register_date
        FROM attache_files
    </select>
    <select
        id="getStoredFilename"
        parameterType="java.lang.String"
        resultType="java.lang.String"
    >
        SELECT
        stored_filename
        FROM attache_files
        <include refid="search_sql" />
    </select>
</mapper>